.designdocContainer {
  padding: 1em;
}
.designdoc >>> img,
.designdoc >>> svg {
    max-width: 100% !important;
    height: auto !important;
}

mat-progress-bar {
  width: 30em;
  max-width: 100%;
}

.comment mat-card-content {
  white-space: pre-line;
}
.active {
  background: #E8EAF6;
}