.designdoc-container {
  padding: 1em;
}
.diagram >>> img,
.diagram >>> svg {
    width: 100% !important;
    height: 100% !important;
}

.diagrams {
  position: relative;
}

.diagram-group {
  position: absolute;
  top: 0;
  left: 0;
}

.diagram-container {
  display: inline-block;
  position: relative;
  max-width: 100%;
}

.diagram-spacer {
  max-width: 100%;
}

.spacer-inner {
  display: block;
}

.diagram {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

mat-progress-bar {
  width: 30em;
  max-width: 100%;
}

.active {
  background: #E8EAF6;
}