<mat-toolbar class="docs-navbar-header" color="primary">
  <button type="button" aria-label="Toggle sidenav"
    mat-icon-button (click)="drawer.toggle()">
    <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
  </button>
  <span class="header-title">Code Visualizer</span>
  <span class="designdoc-id mat-subheading-2">{{subtitle | hidePackage: 'PARAM_TYPE_ONLY' }}</span>
</mat-toolbar>
<mat-sidenav-container class="sidenav-container" autosize>
  <mat-sidenav
    #drawer
    class="sidenav"
    fixedInViewport="false"
    [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="(isHandset$ | async) ? 'over' : 'side'"
    [opened]="!(isHandset$ | async)">
    <app-doctree></app-doctree>
  </mat-sidenav>
  <mat-sidenav-content>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
