<mat-toolbar color="primary">
  <button type="button" aria-label="Toggle sidenav"
    mat-icon-button (click)="drawer.toggle()">
    <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
  </button>
  <span>{{dd.currentDesignDocId | hidePackage: 'PARAM_TYPE_ONLY' }}</span>
</mat-toolbar>
<mat-sidenav-container class="sidenav-container" autosize>
  <mat-sidenav
    #drawer
    class="sidenav"
    fixedInViewport="false"
    [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="(isHandset$ | async) ? 'over' : 'side'"
    [opened]="!(isHandset$ | async)">
    <app-doctree [designDocIds]="dd.designDocIds" (selected)="dd.showDesignDocDetail($event)">
    </app-doctree>
  </mat-sidenav>
  <mat-sidenav-content>
    <app-designdoc #dd></app-designdoc>
  </mat-sidenav-content>
</mat-sidenav-container>
