app-apidoc {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.mat-snack-bar-container {
   max-width: 100vw;
   max-height: 50vh;
}

.apidoc-header {
  overflow-wrap: break-word;
  background: rgba(0,0,0,.03);
  padding: 1rem;
}

.apidoc-body {
  overflow-y: auto;
  overflow-wrap: break-word;
  white-space: pre-wrap;
  padding: 1rem;
}

.apidoc-deprecated, .apidoc-description, .apidoc-content {
  padding-bottom: 0.5rem;
}

.apidoc-deprecated {
  font-weight: bold;
}

.apidoc-method-declaration {
  font-weight: bold;
  padding-left: 4rem;
  text-indent: -4rem;
}

.apidoc-content-label {
  font-weight: bold;
}

.apidoc-content-item {
  padding-left: 1rem;
}

.apidoc-footer {
  text-align: right;
}