<div *ngIf="isLoading" class="progress-bar-container">
  <app-progress-bar></app-progress-bar>
</div>
<div class="crud-container">
  <div class="crud-table-container">
    <table mat-table [dataSource]="dataSource">

      <ng-container matColumnDef="functionId" sticky>
        <th mat-header-cell *matHeaderCellDef>function</th>
        <td mat-cell *matCellDef="let row">
          <a [routerLink]="['/designdoc/function', row.functionId]">
            {{ row.functionId | hidePackage: 'PARAM_TYPE_ONLY' }}
          </a>
        </td>
      </ng-container>
      <ng-container matColumnDef="actionPath">
        <th mat-header-cell *matHeaderCellDef>action path</th>
        <td mat-cell *matCellDef="let row"> {{ row.actionPath }} </td>
      </ng-container>
      <ng-container *ngFor="let tableName of tableNames" matColumnDef="{{tableName}}">
        <th mat-header-cell *matHeaderCellDef> {{ tableName }} </th>
        <td mat-cell *matCellDef="let row">
          <div class="crud-types">
            <span *ngFor="let crudType of crudTypes">
              {{ findCrudType(row.tableCrudMap[tableName], crudType) }}
            </span>
          </div>
        </td>
      </ng-container>
      <ng-container matColumnDef="repositoryFunctions">
        <th mat-header-cell *matHeaderCellDef>repository functions</th>
        <td mat-cell *matCellDef="let row">
          <div class="repository-functions">
            <div *ngFor="let func of row.repositoryFunctions">
              {{ func }}
            </div>
          </div>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="columns; sticky: true"></tr>
      <tr mat-row *matRowDef="let row; columns: columns;"></tr>
    </table>
  </div>
</div>
