app-crud {
  height: 100%;
  display: block;
}

.crud-container {
  padding-left: 2px;
  height: 100%;
  box-sizing: border-box;
}

.crud-table-container {
  overflow: auto;
  max-height: 100%;
}

.crud-types {
  display: flex;
}

.crud-types > * {
  width: 25%;
  text-align: center;
}

table th {
  min-width: 5em;
  text-align: center;
  border-bottom-width: 2px;
}

table th:first-child, table td:first-child {
  border-right-width: 2px;
}

table th, table td {
  padding: 0 0.5em;
  border-right: 1px solid rgba(0, 0, 0, .12);
}

table td.mat-column-repositoryFunctions, table td.mat-column-functionId {
  text-align: left;
}

.progress-bar-container {
  padding: 1em;
  position: absolute;
}